{% load static %}

<header class="header_container fixed-top">
	<div class="container d-flex">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">

				<div class="logo mr-auto">
					<a href="https://{{ request.get_host }}">Raccourcir vos liens avec shortenURL - Réducteur d’URL, raccourcisseur de liens</a>
				</div>

				<div class="choose d-none d-lg-block">
					<a href="https://{{ request.get_host }}donate" target="_blank" class="donate">
						Nous soutenir
					</a>
				</div>
			</div>
		</div>
	</div>
</header>

<header class="header fixed-top">	    
	<div class="branding docs-branding">
		<div class="container-fluid position-relative py-2">
			<div class="docs-logo-wrapper">
				<div class="site-logo">
					<a class="navbar-brand" href="/">
						<img class="logo-icon mr-2" src="{% static "assets/img/shortlink-logo.svg" %}" alt="logo">
						<span class="logo-text">
							Shorten<span class="text-alt">URL</span>
						</span>
					</a>
				</div>    
			</div><!-- end logo-wrapper-->

			<div class="docs-top-utilities d-flex justify-content-end align-items-center">
				<!--<div class="top-search-box d-none d-lg-flex">
					<form class="search-form">
						<input type="text" placeholder="Search the docs..." name="search" class="form-control search-input shadow-none">
						<button type="submit" class="btn search-btn" value="Search">
							<i class="fas fa-search"></i>
						</button>
					</form>
	            </div>-->

				<ul class="social-list list-inline mx-md-3 mx-lg-5 mb-0 d-none d-lg-flex">
					{% include "shortenURL/layouts/rslink.html" %}
				</ul><!--end social-list link -->

				<a href="https://{{ request.get_host }}/donate" target="_blank" class="btn btn-primary d-none d-lg-flex">Nous soutenir
				</a>
			</div><!--//docs-top-utilities-->
		</div><!--//container-->
	</div><!--//branding-->
</header><!--//header-->